{{ $url := .Get "url" }}
{{ $height := .Get "height" | default "166" }}
{{ if $url }}
<iframe
  class="soundcloud-player"
  width="100%"
  height="{{ $height }}"
  scrolling="no"
  frameborder="no"
  allow="autoplay"
  src="https://w.soundcloud.com/player/?url={{ $url | urlquery }}&color=%23eec35e&auto_play=true&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"
  style="border: 8px solid #eec35e; padding: 8px; display: block; margin: 25px 0;"
></iframe>
{{ end }}
